# 1 Import Pandas Library

Run the code cell below to import the Pandas module:

In [ ]:
import pandas as pd

# 2 DataFrame

## Create a DataFrame
We can create a dataframe from:

1. a dictionary
2. a list
3. a csv file
4. an Excel file (in a later Notebook)

In [ ]:
# -------------------- PANDAS I ---------------------------------
cars = {'Make': ['Ford', 'Honda', 'Toyota', 'Tesla'],
       'Model': ['Taurus', 'Accord', 'Camry', 'Model S'],
       'MSRP': [27595, 23570, 23495, 68000]}
# --------  DataFrame from dictionary ----------------
carsDF = pd.DataFrame(cars)            
print(carsDF)                             # display the table
# --------  Adding a new Col ----------------
carsDF["Year"] = [2015, 2020, 2018, 2021]
# --------  Delete a Col ----------------
del carsDF["MSRP"]
# --------  Saving the DataFrame ----------------
carsDF.to_csv('cars.csv')
carsDF

In [ ]:
# -------------------- PANDAS II ---------------------------------
l = [['Ford','Taurus', 27595, 2015],['Honda', 'Accord', 23570, 2020],['Toyota', 'Camry', 23495, 2018],
              ['Tesla', 'Model S', 68000, 2021]]

# --------  DataFrame from 2D List ----------------
carsData = pd.DataFrame(l)
carsData

In [ ]:
columnNames = ['Make','Model','MSRP', 'Year']
carsData = pd.DataFrame(l, columns=columnNames)
carsData

In [ ]:
carsData.to_numpy()

In [ ]:
# -------------------- PANDAS III ---------------------------------
import pandas as pd
# --------  DataFrame from csv file ----------------
nba = pd.read_csv('nba.csv')
print(len(nba))
print(nba.shape)

In [ ]:
# --------  Examining few rows ----------------
#pd.set_option("display.precision", 2)
#print(nba.head(10))
print(nba.tail())

In [ ]:
# --------  Cols & types ----------------
#print(nba.columns)
print(nba.info())

In [ ]:
# --------  Cols & Stats ----------------
print(nba.describe(include=object))

In [ ]:
# --------  Accessing a Col ----------------
nba["team_id"]

In [ ]:
# --------  Accessing a Row ----------------
print(nba.loc[1])
print(nba.iloc[1])

In [ ]:
# --------  Accessing Rows & Cols ----------------
nba.loc[5555:5559, ["fran_id", "opp_fran", "pts", "opp_pts"]]

In [ ]:
# --------  Value occurrence ----------------
nba["team_id"].value_counts()

In [ ]:
# -------- Simple Querry ----------------
# filtering expressions
nba[nba["year_id"] >= 2010]

In [ ]:
# -------- Compound Querry ----------------
#nba[(nba["_iscopy"] == 0) & (nba["pts"] > 100) & (nba["opp_pts"] > 100)]
# or
nba.query('_iscopy == 0 and pts > 100 and opp_pts > 100')

## Exercise I
 1) Retrieve all the games that are after 2010
 2) Retrieve all the lost games that had a forecst of %80 or more
 3) Retrieve all the games won by one point
 4) Retrieve all the playoff games in 2014

In [ ]:
# Exercise I.3 Answer
nba.query('_iscopy == 0 and ((pts - opp_pts == 1) or (pts - opp_pts == -1))')[['pts', 'opp_pts']]

In [ ]:
# ------------------ Col Stat -----------------------------
print("Sum of all points:", nba["pts"].sum())
print("Minimum points scored:", nba["pts"].min())
print("Maximum points scored:", nba["pts"].max())

In [ ]:
# ------------------ Grouping -----------------------------
nba.groupby("fran_id")["pts"].sum()

# Exercise II
 Indicate the wins and losses for each franchise

In [ ]:
# ------------------ Plot I -----------------------------
nba[nba["fran_id"] == "Knicks"].groupby("year_id")["pts"].max().plot()

In [ ]:
# ------------------ Plot II -----------------------------
nba["fran_id"].value_counts().head(10).plot(kind="bar")

In [ ]:
# ------------------ Plot III -----------------------------
nba[(nba["fran_id"] == "Heat") & (nba["year_id"] == 2013)&(nba["_iscopy"] == 0)]["game_result"].value_counts().plot(kind="pie")

In [ ]:
nba[nba["fran_id"] == "Celtics"].groupby("year_id")["pts"].max().plot(label='BOS', legend=True)
nba[nba["fran_id"] == "Knicks"].groupby("year_id")["pts"].max().plot(label='NYK', legend=True)

In [ ]:
# Basic Web Scraping 
url = "https://www.basketball-reference.com/leagues/NBA_2024_games-december.html"
tables = pd.read_html(url)

#print('Number of tables =',len(tables))
tables[0].head()

# Data Cleaning

In [ ]:
# Missing Data - replace
df = tables[0]
df = df.fillna('') 
#df.replace(np.nan, '')
df

In [ ]:
df = tables[0]
df = df.fillna({'Unnamed: 7': 'no', 'Notes': ''}) 
df

In [ ]:
# Remove Duplicates
df.drop_duplicates()

In [ ]:
# Rename Columns
df.rename(columns=str.upper)

# Exercise III

1. What is the purpose of the 'Unnamed: 7' column?
2. Delete 'Unnamed: 6' column.
3. Rename 'Unnamed: 7' column to a more meaningful name.

## Reference
[Python for Data Analysis](https://wesmckinney.com/book/pandas-basics)